body{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    color: #f1f1f1;
    background-image: url(./img/880175.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headercont{
    height: 100vh;
    width: 98vw;
  /*  background-color: rgb(80, 16, 145);*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    box-sizing: border-box;
    padding: 0 120px ;
    position: relative;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.social{
  margin-top: 1rem; 
  display: flex; 
}
.social a{
    text-decoration: none;
    color: #f1f1f1;
    padding: 1rem 4rem;
    border: 1px solid #f1f1f1;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;

}
a:hover{
    background-color: #af3f6e;
}
/*menu risc*/
.checkcont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .risc{
    width: 50px;
    height: 2px;
    background-color:rgb(255, 255, 255) ;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .risc:nth-child(1){
    top: 26px;
    transform: rotate(0);
}
.checkbox .risc:nth-child(2){
    top: 46px;
    transform: rotate(0);
}
.checkbox .risc:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display: none;
}

/*menu*/

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color:transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}


.mitens{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.mitens ul {
list-style-type: none;
}
.mitens ul li a{
    margin: 10px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}


#toggle:checked + .checkbox .risc:nth-child(1){
    transform: rotate(45deg);
    top: 47px;

}

#toggle:checked + .checkbox .risc:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility:hidden;
    opacity: 0;
    
}
#toggle:checked + .checkbox .risc:nth-child(3){
transform: rotate(-45deg);
top: 48px;
}

#toggle:checked + .checkbox{
   /* background-color: #000;*/
    background-color: #af3f6e;
  
}
#toggle:checked ~ .menu{
   /* box-shadow: 0px 0px 0px 93vmax #111;*/
    box-shadow: 0px 0px 0px 93vmax #af3f6e;
    z-index: 1;
}
#toggle:checked  ~ .mitens{
visibility: visible;
opacity: 1;
}

/*portfolio*/

.contmain{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}
.contport{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.port0{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin: 10rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s ease-in-out;

}
.port2{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin: 10rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s ease-in-out;

}
.port3{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin: 10rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: rgb(255, 255, 255);*/
    background-image: url(./img/3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.porttext{
    margin-top: 2cm;
    width: 40%;
    text-align: justify;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
.porttext h2 a{
    color: #f1f1f1;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 0.5px;
}
.port-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.port-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    opacity: 0;
    transition: 0.5 ease-in-out;

}
.port-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}
.port-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;

}

/*info 1*/
.port0:hover{
    filter: unset;
}
.port0:hover > .port-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}
.port0:hover > .port-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
/*info 2*/
.port2:hover{
    filter: unset;
}
.port2:hover > .port-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}
.port2:hover > .port-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
/*info 3*/
.port3:hover{
    filter: unset;
}
.port3:hover > .port-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}
.port3:hover > .port-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
footer{
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: 'Poppins', "Open Sans",sans-serif;
    padding-top: 40px;
    color: #fff;

}
.footercont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footercont h3{
   font-size: 1.8rem;
   font-weight: 400;
   text-transform: capitalize;
   line-height: 3rem;
}
.footercont p{
    text-align: justify;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
.contatoft{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 1rem 0 3rem 0;
}
.contatoft li{
    margin: 0 10px;
}
.contatoft a{
    text-decoration: none;
    color: #ffffff;
}
.contatoft a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.contatoft a:hover i{
    color:  aqua;
}
.footer-bottom{
    background:#000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight:200;
}


/*teste portifolo*/
.h2port a{
   
    text-decoration: none;
    color: #f1f1f1;
    padding: 0.2rem 0.5rem;
    border: 1px solid #f1f1f1;
    min-width: 4rem;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;

}
.h2port a:hover{
    background-color: #af3f6e;
}
       .h2port h2 a{
            color: #f1f1f1;
            text-decoration: none;
            display: inline-block;
            font-family: 'Poppins',sans-serif;
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 2px;  
        }